[Unit]
Description=Watch load and kill Chromium when over threshold
After=network-online.target

[Service]
User=pi
Type=simple
ExecStart=/opt/bricodash/kiosk/picec/sysd/watchload.sh

[Install]
WantedBy=multi-user.target
