eventbrite>=3.3.3

pipreqs>=0.4.9

icalevents>=0.1.13

pip_tools>=3.0.0

PyChromecast>=2.3.0

emoji_data_python>=1.1.0

astral>=1.7.1

slacker>=0.9.65

humanize>=0.5.1

requests>=2.18.4

daemonize>=2.4.7

python_resize_image>=1.1.12

dateparser>=0.7.0

cssutils>=1.0.2

