[Unit]
Description=Bricodash Dashboard for Hack Manhattan
After=network-online.target

[Service]
User=nobody
Group=nogroup
Type=simple
GuessMainPID=yes
KillMode=mixed
EnvironmentFile=/opt/bricodash/sysd/environment.file
WorkingDirectory=/opt/bricodash/sysd/
ExecStart=/usr/bin/python3 -u /opt/bricodash/sysd/app.py

[Install]
WantedBy=multi-user.target
