[Unit]
Description=Bricodash Dashboard for Hack Manhattan
After=network-online.target

[Service]
User=nobody
Group=nogroup
Type=forking
GuessMainPID=yes
KillMode=mixed
Environment="DISPLAY_NAME=Hackerspace TV"
Environment="DASHBOARD_URL=http://hackmanhattan.duckdns.org:8888/hm/dash/?whoami=chromecast"
Environment="IGNORE_CEC=True"
Environment="DEBUG_FILE=/opt/bricodash/html/pull/app.log"
WorkingDirectory=/opt/bricodash/sysd/
ExecStart=/usr/bin/python3 /opt/bricodash/sysd/app.py

[Install]
WantedBy=multi-user.target
