[Unit]
Description=defaultcast for Hack Manhattan
After=network-online.target

[Service]
User=nobody
Group=nogroup
Type=forking
GuessMainPID=yes
KillMode=mixed
Environment="DISPLAY_NAME=Hackerspace"
Environment="DASHBOARD_URL=http://hackmanhattan.duckdns.org:8888/hm/dash/?whoami=chromecast"
Environment="IGNORE_CEC=True"
WorkingDirectory=/opt/defaultcast/sysd/
ExecStart=/usr/bin/python3 /opt/defaultcast/sysd/app.py

[Install]
WantedBy=multi-user.target
