[Desktop Entry]
Name=stream
Exec=bash -c 'unclutter & chromium-browser --disable-infobars --kiosk --app=htt$
StartupNotify=true
Terminal=false
Type=Application
StartupWMClass=kiosk-browser
