/*
####
## Copyright © 2018 Beads Land-Trujillo.
##
## This program is free software: you can redistribute it and/or modify
## it under the terms of the GNU Affero General Public License as published
## by the Free Software Foundation, either version 3 of the License, or
## (at your option) any later version.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU Affero General Public License for more details.
##
## You should have received a copy of the GNU Affero General Public License
## along with this program.  If not, see <https://www.gnu.org/licenses/>.
####
*/

/*
 Wiki
 */

#wiki_td {
  width: 250px;
}

#wiki_head {
  font-family: Raleway, sans-serif;
  font-size: 150%;   /* experiment with changing this */
  padding: 8px;
  padding-top: 20px;
  background: #333333;
  text-align: center;
}

#wiki-edits {
  width: 244px;
  position: absolute;
  bottom: 1em;
  left: 0;
  padding: 5px;
  background: #111111;
}

.wiki-line {
  font-family: Georgia, serif;
  font-size: 120%;
  overflow-wrap: break-word;
  margin-top: 9px;
  padding-left: 1em;
  text-indent: -1em;
}

.wiki-special {
  font-size: 85%;
}
