/*
 Clock
*/

#clock {
  font-weight: 300;
  font-size: 300%;
  background-color: #222222;
  color: #999999;
  z-index:10
  text-shadow: 10px 10px #ff0000;
}

/*
 Emoji
*/

@font-face {
 font-family: "NotoEmoji";
 src: url('font/NotoColorEmoji.ttf')  format('truetype');
}

.emoji {
  font-family: NotoEmoji;
  vertical-align: 10%;
  font-size: 80%;
}

/*
 General style
*/

body {
  background: black;
  color: white;
  margin: 0;
  padding: 10;
}

h1 {
  font-family: Raleway, sans-serif;
  font-size: 300%;
  margin-top: 0;
  padding-top: 0;
  width: 100%;
  text-align: center;
}

/*
 Events
*/

.event {
  font-family: Merriweather, serif;
  font-size: 150%;
}

.date {
  font-family: Merriweather, serif;
  font-size: 120%;
  color:#bbbbbb;
}

/*
 Slack
*/

.slackee {
  font-size: 135%;
  font-weight: bold;
}

.slacker {
  color: orange;
  font-size: 135%;
}

.slacking {
  font-size: 135%;
  color: #eeeeee;
}

.slackhead {
  font-size: 150%;
  padding: 8px;
  margin: 0px;
  padding-top: 15px;
  width: 100%;
  background: #222222;
}
