/*
 Clock
*/

#clock {
  font-weight: 300;
  font-size: 300%;
  background-color: #222222;
  color: #999999;
  z-index:10
  text-shadow: 10px 10px #ff0000;
}

/*
 Emoji
*/

@font-face {
 font-family: "NotoEmoji";
 src: url('font/NotoColorEmoji.ttf')  format('truetype');
}

.emoji {
  font-family: NotoEmoji;
  vertical-align: 10%;
  font-size: 80%;
}

/*
 Events
*/

.event {
  font-family: Merriweather, serif;
  font-size: 150%;
}

.date {
  font-family: Merriweather, serif;
  font-size: 120%;
  color:#bbbbbb;
}

/*
 Slack
*/

#slack_head {
  font-size: 150%;
  padding: 8px;
  padding-top: 20px;
  background: #222222;
  width: 100%;
  margin-left: 300px;
}

#slack-chat {
  word-wrap: break-word;
  margin-left: 300px;
}

.slackee {
  font-size: 135%;
  font-weight: bold;
}

.slacker {
  color: orange;
  font-size: 135%;
}

.slacking {
  font-size: 135%;
  color: #eeeeee;
}

/*
 General style
*/

body {
  background: black;
  color: white;
  margin: 0;
  padding: 10;
}

h1 {
  font-family: Raleway, sans-serif;
  font-size: 300%;
  margin-top: 0;
  padding-top: 0;
  width: 100%;
  text-align: center;
}

/*
 Structural elements. Underscore for structural. Dash for functional.
 'Cause so.
 */

#door-cam {
  height: 336px;
  width: 448px;
}

h1 {
  margin-bottom: 5;
}

#upper_row {
/*  height: 336px; */
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  background-image: url('../img/black1x1.png');
/*  padding-bottom: 20px; */
}

#upper_left_column {
  height: 336px;
  overflow: hidden;
  padding-left: 5px;
}

#upper_right_column {
  width: 448px;
  float: right;
}

#bottom_row {
  position: absolute;
  bottom: 0;
  width: 100%;
}
