/*
 Clock
*/

#clock {
  font-weight: bold;
  font-size: 250%;
  background-color: #111111;
  color: #dd9999;
  z-index: 10;
  text-shadow: 3px 3px #444444;
}

/*
 Emoji
*/

@font-face {
 font-family: "NotoEmoji";
 src: url('font/NotoColorEmoji.ttf')  format('truetype');
}

.emoji {
  font-family: NotoEmoji;
  vertical-align: 10%;
  font-size: 80%;
}

.timeout-error:before {
  content: "⚠️";
  font-family: NotoEmoji;
  font-size: 300%;
  opacity: 0.25;
}

/*
 Events
*/

.event-line {
  margin-top: 0;
  margin-bottom: 14;
}

.event {
  font-family: Merriweather, serif;
  font-size: 140%;
}

.date {
  font-family: Merriweather, serif;
  font-size: 130%;
  color:#bbbbbb;
}

/*
 Slack
*/

#slack_head {
  font-size: 150%;
  padding: 8px;
  padding-top: 20px;
  background: #222222;
  width: 100%;
  margin-right: 250px;
  font-family: Raleway, sans-serif;
}

#slack-chat {
  font-family: Lato, sans-serif;
  word-wrap: break-word;
  margin-right: 250px;
  text-align: left;
}

.slackee {
  font-size: 125%;
  font-weight: bold;
}

.slacker {
  color: orange;
  font-size: 125%;
}

.slacking {
  font-size: 125%;
  color: #eeeeee;
  padding-bottom: 1px;
}

#mta-widget {
  position: absolute;
  bottom: -30;
  right: 0;
  z-index: 30;
  background-color: white;
}

/*
 General style
*/

body {
  background: black;
  color: white;
  margin: 0;
  padding: 10;
  overflow: hidden;
}

h1 {
  font-family: Raleway, sans-serif;
  font-size: 300%;
  margin-top: 0;
  padding-top: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 10;
}

/*
 Structural elements. Underscore for structural. Dash for functional.
 'Cause so.
 */

#door-cam {
  height: 312px;
  width: 416px;
}

#upper_row {
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  background-image: url('../img/black1x1.png');
}

#upper_left_column {
  height: 312px;
  overflow: hidden;
  padding-left: 5px;
}

#upper_right_column {
  width: 416px;
  float: right;
}

#bottom_row {
  position: absolute;
  bottom: 0;
  width: 100%;
}
