/*
####
## Copyright © 2018 Beads Land-Trujillo.
##
## This program is free software: you can redistribute it and/or modify
## it under the terms of the GNU Affero General Public License as published
## by the Free Software Foundation, either version 3 of the License, or
## (at your option) any later version.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU Affero General Public License for more details.
##
## You should have received a copy of the GNU Affero General Public License
## along with this program.  If not, see <https://www.gnu.org/licenses/>.
####
*/

/*
 Context-indicator tabs
*/

.tab-container {
  float: left;
  width: 1.75em;
}

.tabbed-container {
  margin-left: 2.5em;
}

.tab-topper {
  height: 2%;
}

.tab-spacer {
  height: 4%;
}

.tab-box, .tab-box-active {
  height: 29%;
  width: 100%;
  border: 1px dotted white;
  border-right: none;
  text-align: center;

  display: flex;
  align-items: center;
  opacity: 0.2;
}

.tab-box-active {
  color: black;
  background: #99bb99;
  opacity: 1.0;
}

.tab-text {
  font: Raleway;
  font-size: 1.5em;
  display: inline-block;
}

.tab-logo {
  display: inline-block;
  width: .85em;
  padding-bottom: .2em;
}

/*
 Events
*/

.event-line {
  margin-top: 0;
  margin-bottom: 12;
  padding-left: 9.6em ;
  text-indent: -9.6em ;
}

.event, .hm-event {
  font-family: Merriweather, serif;
  font-size: 140%;
  color: #ccffcc;
}

.hm-event {
  font-weight: normal;
  color: #dddd00;
}

.noisy {
  text-shadow: 3px 3px #228822;
}

.date {
  font-family: Merriweather, serif;
  font-size: 130%;
  color:#eeeeee;
}

.venue {
  font-family: Raleway, sans-serif;
  font-size: 120%;
  font-weight: bold;
  color: #b784a7;
  width: 8em;
  float: left;
}

#ratparkHdr {
  font-weight: bold;
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: .3em;
  text-decoration: underline;
}
