/*
  Docs at http://http://simpleweatherjs.com
*/

#weather {
  font-family: Raleway, sans-serif;
  color: #fff;
  font-size: 225%;
  font-weight: bold;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);

  text-transform: uppercase;

  margin: 0 0 8px;
  background-color: #111111;
}

.degrees {
  font-size: 80%;
}

#moon-27:before,
#moon-29:before,
#moon-31:before,
#moon-33:before {
  font-size: 50%;
  vertical-align: super;
  content: "🌙";
} /* (night) */


#icon-0:before { content: "🌪"; } /* tornado */
#icon-1:before { content: "🌀"; } /* tropical storm */
#icon-2:before { content: "🌀🌀"; } /* hurricane */
#icon-3:before { content: "⛈️⛈️"; } /* severe thunderstorms */
#icon-4:before { content: "⛈️"; } /* thunderstorms */
#icon-5:before { content: "🌧❄"; } /* mixed rain and snow */
#icon-6:before { content: "🌧⛸"; } /* mixed rain and sleet */
#icon-7:before { content: "🌨️⛸"; } /* mixed snow and sleet */
#icon-8:before { content: "☔⛸"; } /* freezing drizzle */
#icon-9:before { content: "☔"; } /* drizzle */
#icon-10:before { content: "🌨️⛸"; } /* freezing rain */
#icon-11:before { content: "🌨"; } /* showers */
#icon-12:before { content: "🌨"; } /* showers */
#icon-13:before { content: "❄"; } /* snow flurries */
#icon-14:before { content: "❄❄"; } /* light snow showers */
#icon-15:before { content: "🌬️🌨️"; } /* blowing snow */
#icon-16:before { content: "🌨️"; } /* snow */
#icon-17:before { content: "🏌⛸"; } /* hail */
#icon-18:before { content: "⛸"; } /* sleet */
#icon-19:before { content: "😷"; } /* dust */
#icon-20:before { content: "🌁"; } /* foggy */
#icon-21:before { content: "🌫️"; } /* haze */
#icon-22:before { content: "🔥🌫️"; } /* smoky */
#icon-23:before { content: "🍃"; } /* blustery */
#icon-24:before { content: "🌬️"; } /* windy */
#icon-25:before { content: "⛄🥶"; } /* cold */
#icon-26:before { content: "☁️"; } /* cloudy */
#icon-27:before { content: "☁️☁️"; } /* mostly cloudy (night) */
#icon-28:before { content: "☁️☁️"; } /* mostly cloudy (day) */
#icon-29:before { content: "☁️"; } /* partly cloudy (night) */
#icon-30:before { content: "⛅"; } /* partly cloudy (day) */
#icon-31:before { content: ""; } /* clear (night) */
#icon-32:before { content: "☀️"; } /* sunny */
#icon-33:before { content: "☁️"; } /* fair (night) */
#icon-34:before { content: "⛅"; } /* fair (day) */
#icon-35:before { content: "🌧🏌⛸"; } /* mixed rain and hail */
#icon-36:before { content: "🌡️🥵"; } /* hot */
#icon-37:before { content: "🌩️"; } /* isolated thunderstorms */
#icon-38:before { content: "🌩️"; } /* scattered thunderstorms */
#icon-39:before { content: "🌩️"; } /* scattered thunderstorms */
#icon-40:before { content: "☔"; } /* scattered showers */
#icon-41:before { content: "🌨🌨️"; } /* heavy snow */
#icon-42:before { content: "☃️"; } /* scattered snow showers */
#icon-43:before { content: "🌨🌨"; } /* heavy snow */
#icon-44:before { content: "⛅"; } /* partly cloudy */
#icon-45:before { content: "⛈️"; } /* thunderstorms */
#icon-46:before { content: "🌨"; } /* snow showers */
#icon-47:before { content: "🌩"; } /* isolated thunderstorms */
